body {
	background-image: url("./images/image.jpg");
	background-size: cover;
}
button:hover
{
	background-color: lightblue;
}
.white-page-line{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
.Username{
	background: url(https://i.ibb.co/MNK2Kz8/userlogin.png) no-repeat;
	position: left;
	background-size: 30px;
	background-position: 2%;
	padding-left: 6%;
}
.infoLabels {
	text-align: right;
	color:Gray;
}
.editIconDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5%;
}
.editPenIcon {
	color: red;
	margin-right: 80%;
	padding: 20%;
}
.editPenIcon:hover {
	border: solid;
	border-radius: 50px;
}
#NameEditDiv {
	height: 100%;
	margin-left: 4%;
	margin-top: 3.7%;
}
#PhoneNumberDiv{
	display: flex;
	flex-direction: row;
	position: left;
	background-size: 30px;
	background-position: 2%;
	width: 100%;
	padding-left: 0%;
	margin-left: 5%;
}
#PhoneInfoText {
	margin-left: 4%;
}
#phoneLabel {
	/* for left justified */
	margin-left: 0px;
}
#EmailDiv {
	display: flex;
	flex-direction: row;
	position: left;
	background-size: 30px;
	background-position: 2%;
	padding-left: 0%;
	margin-left: 5%;
}
#EmailInfoText {
	margin-left: 4%;
}
#emailLabel {
	margin-left: 0px;
}
#BirthdayDiv {
	display: flex;
	flex-direction: row;
	position: left;
	background-size: 30px;
	background-position: 2%;
	padding-left: 0%;
	margin-left: 5%;
}
#BirthInfoText {
	margin-left: 4%;
}
#birthLabel {
	margin-left: 0px;
}
.topBarIcons{
	width: 3%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	margin-left: 1%;
	border-radius: 50px;

}
#welcometext{
	font-family: Arial, sans-serif;
	margin-left: 1%;
	display: inline-block;
	position: relative;
	bottom: 25%;
}
#topbar{
	height: 8%;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	margin: auto;
	/*background-color:rgba(139, 204, 235, 0.8);*/
	/*background: linear-gradient(45deg, #215b81, #8bcceb, #b3c9e6);*/

	background: linear-gradient(-45deg, rgba(12, 82, 102, 0.80), rgba(8, 79, 102, 1), rgba(6, 60, 77, 0.90));

	background-color: gray;
	width: 100%;
}
#LogOutButton{
	border-color: #CBC3E3;
	border-style: solid;
	border-width: 2px;
	margin-left: 94%;
	position: relative;
	bottom: 90%;
	height: 35px;
	margin-top: 17px;
	font-weight: bold;
}
/* all the icons */
	#edit-icon{
	width: 10%;
	padding-left:75%;
	position:relative;
	bottom: 65%;
}
#add-icon{
	background-color: none;
	padding-top: 2%;
	position:relative;
	height: 20px;
	width: 20px;

}
#SearchAddDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}

#AddContactButton {
	height: 20%;
	color: white;
	border: solid;
	padding: 7px;
	margin-left: 3.5%;
	background: none;
}
#AddContactButton:hover {
	color:#B6EDFF;
}
	#addContactButt {
	height: 40px;
	width: 40px;
}
	#delete-icon{
	width: 10%;
	position:relative;
	bottom: 65%;
}

#inner-screen {
	display: flex;
	flex-direction: row;
	width:100%;
	height: 95%;
	margin-left: 20%
	background: red;
}
#scroll-bar {
	background: linear-gradient(45deg, rgba(12, 82, 102, 0.80), rgba(8, 79, 102, 1), rgba(6, 60, 77, 0.90));
	height: 100%;
	width: 25%;
	margin-right: 0%;
	overflow-y: scroll;
	text-align: center;
	border-radius: 0px;
}
#searchInput {
	background-image: url(https://i.ibb.co/qp7jfHD/search-Icon.png); /* Add a search icon to input */
	background-position: 5px 5px; /* Position the search icon */
	background-size: 30px;
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 80%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border-radius: 30px;
	border: 1px solid #ddd; /* Add a grey border */
	margin-top: 4%;
	margin-left: 3%;
	margin-bottom: 3%; /* Add some space below the input */
}

#userContactSideBarDiv
    {
        background: rgba(163,190,199, 0.7);
        width: 95%;
        margin: auto;
        margin-left: 5%;
        display: flex;
        padding: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
        opacity: 80%;
    }

    #profilePicture
    {
        width: 50px;
        height: 50px;
        border-radius: 50px;

    }

    #contactFullName
    {
        margin-left: 15%;
        color: white;
        font-weight: bold;
    }
#names {
	border-top-left-radius: 50px;
	color: white;
	display: inline-block;
	text-align: left;
	line-height: 2.0;
	font-family: 'Helvetica', sans-serif;
	font-size: 18pt;
}
#containsNames
{

}
#FirstName {
	display: inline-block;
	text-align: left;
	line-height: 2.0;
	font-family: 'Helvetica', sans-serif;
}
#LastName {
	display: inline-block;
	text-align: left;
	line-height: 2.0;
	font-family: 'Helvetica', sans-serif;
}
#info {
	background-color: white;
	margin: 0% 0% 0% 0%;
	height: 100%;
	width:100%;
	border-radius: 0px;
	overflow: auto;
}
#EditDeleteHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 1%;
	margin-bottom: 0%;
}
.clickableAwesomeFont {
     cursor: pointer
}
#EditButton {
	margin-right: 1%;
	color: #1893BD;
	background: none;
	border: none;
	padding: 1%;
}
#EditButton:hover {
	color: #00506B;
}
#DeleteButton {
	color: red;
	background: none;
	border: none;
	padding: 1%;
}
#DeleteButton:hover {
	color: #AD0000;
}
#CreateAccountDiv {
	background-color: white;
	margin: 0% 0% 0% 0%;
	height: 100%;
	width:100%;
	border-radius: 0px;
	overflow: auto;
}
#header {
	background-color: none;
	height: 5%;
}
#top-info {
	display:flex;
	justify-content: flex-start;
	margin-top: 1%;
	margin-left: 7%;
}
#contains-buttons{
	background-color: none;
	display:flex;
	flex-direction: row;
	margin-left: 10%;
	margin-top: 1%;
}
#CreateButton:hover{
	background-color: lightblue;
}
#CreateButton {
	display: inline-block;
	background: #215b81;
	font-weight: bold;
	border-color: #3c4d57;
	border-style: solid;
	border-width: 2px;
	border-radius: 50px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 10%;
	height: 50px;
	margin-top: 17px;
	width: 40%;
	color: white;
}
#CancelSaveButtonDiv {
	margin-left: 5%;
	margin-top: 2%;
}
#SaveEditButton {
	display: inline-block;
	background: #215b81;
	font-weight: bold;
	border-color: #3c4d57;
	border-style: solid;
	border-width: 2px;
	border-radius: 50px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 10%;
	height: 50px;
	margin-top: 17px;
	width: 40%;
	color: white;
}
#SaveEditButton:hover{
	background-color: lightblue;
}
#CancelEditButton {
	display: inline-block;
	border-color: #CBC3E3;
	border-style: solid;
	border-width: 2px;
	border-radius: 50px;
	margin-bottom: 5px;
	margin-right: 5px;
	height: 50px;
	margin-top: 17px;
	font-weight: bold;
	width: 40%;
}
#CancelButton {
	display: inline-block;
	border-color: #CBC3E3;
	border-style: solid;
	border-width: 2px;
	border-radius: 50px;
	margin-bottom: 5px;
	margin-right: 5px;
	height: 50px;
	margin-top: 17px;
	font-weight: bold;
	width: 40%;
}
#profile-pic {
	border-radius: 50%;
	width: 16%;
	height: 16%;
	margin-left: 0%;
	margin-top: -1%;
	margin-bottom: .5%;
}
#create-profile-pic {
	border-radius: 50%;
	width: 15%;
	height: 20%;
	margin-left: 0%;
	margin-top: 1.4%;
	margin-bottom: .5%;
}
#profile-name {
	font-family: Arial, sans-serif;
	margin-left: 3%;
	font-size: 35pt;
	margin-top: 4%;
	margin-bottom: 0%;
}
#secondary-info {
	background-color: none;
	align-items: center;
	font-family: Arial, sans-serif;
	font-size: 20pt;
	margin-bottom: 5%;
	height: 100%;
}
#contact-subtitle {
	color: white;
	font-family: Arial, sans-serif;
	font-size: 26pt;
	margin-top: 5%;
	margin-bottom: .5%;
}
.inputContainer {
	background-color: none;
	width: 60%;
	height: 47%;
	vertical-align: middle;
	margin:auto;
	margin-top: 3%;
	padding: 0%;
}
.round-borders {
	border-color: #3c4d57;
	border-style: solid;
	border-width: 2px;
	border-radius: 50px;
	margin-bottom: 3%;
	padding-left: 3%;
	height: 12%;
	width: 100%;
}
.fieldText {
	font-size: 80%;
}
::-webkit-scrollbar-corner {
	background: none;
}
::-webkit-scrollbar {
	width: 18px;
}
::-webkit-scrollbar-track {
	border-radius: 50px;
	background-color: #D6D6D6;
	box-shadow: inset 0 0 12px #EAF7FA;
}
::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #939393;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #717171;
}
