
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Montserrat:ital,wght@0,500;1,200&display=swap');

body {
  background: linear-gradient(45deg, #D790FF, #F1DCFF, #EEEDFE)
}
img {
  max-width: 100%;
  height: auto;
  margin-top: auto;
  display: block;
  object-fit: contain;
}

button:hover {
  background-color: #CBC3E3;
}
a:hover {
  color: lightblue;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 100px;
  width: 75%;
  height: 75%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  background: linear-gradient(45deg, #C16FDB, #8C00B7, #C16FDB);
  background-color: purple;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 50%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10%;
  padding-top: 5%;
  overflow: auto;
}
.round-borders {
  border-color: #CBC3E3;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 10%;
}
.login {
  border-color: #CBC3E3;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 10%;
  height: 35px;
  margin-top: 17px;
  width: 80%;
}

.responsive-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  height: auto;
}
.valid {
  color: green;
}
.invalid{
  color: red;
}

#user-name{
  background: url(https://i.ibb.co/MNK2Kz8/userlogin.png) no-repeat;
  position: left;
  background-size: 13px;
  background-position: 2%;
  padding-left: 30px;
  height: 36px;
  width: 80%;
}
#password{
  background: url(https://i.ibb.co/mqjD9zj/png-clipart-computer-icons-font-awesome-password-user-font-others-typeface-computer-icons-thumbnail.png) no-repeat;
  position: left;
  background-size: 13px;
  background-position: 2%;
  padding-left: 30px;
  height: 36px;
  width: 80%;
}

#welcomeText {
  box-sizing: border-box;
  padding: 10px;
  font-family: Arial;
  font-size: max(2.5vmin, 14px);
  color: white;
  text-shadow: 0 0 5px #49005F;
  text-align: left;
  right: 4%;
  margin-top: 15.5%;
}
.titleText {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 2px;
  font-family: Arial;
  font-size: max(4.3vmin, 20px);
  color: white;
  text-shadow: 0 0 25px #49005F;
  text-align: left;
  padding-left: 10%;
  padding-right: 1%;
  margin-left: auto;
  margin-right: auto;
}
.inside {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10%;
  width: 100%;
  height: 100%;
  display: table-cell;
  align-items: center;
  position: relative;
  overflow: auto;
}
#loginHeading {
  position: relative;
  font-family: Arial;
  font-size: max(1.6vw, 25px);
  color: black;
  text-align: center;
  padding-top: 1px;
  margin-top: 3.5%;
}

#nameContainer {
  display: flex;
  flex-direction: column;
}
#logoImageContainer {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#login {
  button-height: 36px;
  margin-right: 40px;
}
#loginText {
  margin-top: 5px;
  text-align: center;
}
#error-box {
  width: 100%;
  height: 10%;
  display: none;
}
